/* your css code here */

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
}

.grid-item {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
